@import '../var.css';
.navbar {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 6px;
}
.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu_items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none; /* Removes round disks (list markers) */
    padding: 0; /* Removes any default padding */
    margin: 0; /* Ensures no extra margin is added */
}

.menu_items a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500; /* You can add more styles here */
}

ion-icon {
    color: white; /* Ensures icon color is white */
    font-size: 30px;
    cursor: pointer;
    
}

/* For Mobile View */
@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menu_items {
        display: none;
        flex-direction: column;
        align-items: flex-end; /* Adjust to the right side for mobile */
        gap: 13px;
        border-radius: 10px;
        background: linear-gradient(
            0deg,
            rgba(25, 55, 109, 1) 0%,
            rgba(25, 55, 109, 1) 100%
        );
        padding: 24px 33px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        list-style: none; /* Remove round disks (list markers) in mobile view */
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }

    .menu_items a {
        color: white; /* Ensure text color is white for mobile view */
        font-size: 22px;
        padding: 10px;
        
        border-bottom: 1px solid rgba(246, 235, 235, 0.608);
    }
}
